## Pandas 介紹

- pandas overview
- pandas DataFrame
- how to create DataFrame
- accessing and modifying data

Pandas是一個Python語言的程式庫，提供資料分析的能力。資料處理經常以表格型式處理資料，如sql的關聯表或Excel的表格。Pandas提供載入、處理、計算、及分析表格化的資料，與matplotlib及seaborn結合提供資料視覺化能力。 Pandas的主要資料結構為資料框(DataFrame)是二維表格化資料結構，每行包含相同型態資料。DataFrame的結構包括列標籤(row labels)、欄位標籤(column labels，可視為欄位名稱)、及資料項目(data items)。以下為一個典型的資料框範例，描述學生資料

|   |sid | name | phone | AI | datastructure | python
|----|----|----|-----|-----|-------|----
101 | 11375001 | 李大明 | 0922555123 | 66 | 86 | 69
102 | 11375010 | 陳傑憲 | 0919123456 | 96 | 88 | 77
103 | 11375022 | 林玉明 | 0955235743 | 88 | 77 | 66
104 | 11375055 | 姜昆雨 | 0931239097 | 77 | 87 | 98
105 | 11375199 | 陳辰威 | 0932098543 | 67 | 78 | 89

- row labels: 101, 102, 103, .., 105
- column labels: sid, name, phone, AI, datastructure, pyhton
- data items: 每一筆(row)資料的內容

In [2]:
# create table with dictionary
student = {
    'sid': ['11375001', '11375010', '11375022', '11375055', '11375199'],
    'name': [ '李大明', '陳傑憲', '林玉明', '姜昆雨', '陳辰威'],
    'phone': ['0922555123', '0919123456', '0955235743', '0931239097', '0932098543'],
    'AI': [66, 96, 88, 77, 67],
    'datastructure': [86, 88, 77, 87, 78],
    'python': [69, 77, 66, 98, 89]
}
row_labels = [101, 102, 103, 104, 105]

In [3]:
#work with pandas by importing pandas
import pandas as pd

In [4]:
#create DataFrame with DataFrame()
df = pd.DataFrame(student, index=row_labels)

In [5]:
df

          sid name       phone  AI  datastructure  python
101  11375001  李大明  0922555123  66             86      69
102  11375010  陳傑憲  0919123456  96             88      77
103  11375022  林玉明  0955235743  88             77      66
104  11375055  姜昆雨  0931239097  77             87      98
105  11375199  陳辰威  0932098543  67             78      89