## Introducing the pandas DataFrame

Pandas是一個以python程式語言為基礎的開源軟體，主要用於資料分析，提供高效能、容易操作的資料結構。pandas不僅提供資料清理、預處理，也可支援資料分析與建模。pandas可與統計分析(statsmodels)與機器學習(scikit-learn)軟體結合，提供廣泛的資料分析、資料探勘、機器學習、甚至人工智慧的應用。

Pandas核心資料結構分為
- Series : 稱之為序列(series)，可視為一種「一維陣列」資料結構。在 pandas 中為 <class 'pandas.core.series.Series'>物件類別。序列資料內容包含資料項及**索引項(index)**。

- DataFrame: 稱之為資料框(DataFrame)，可視為一種「資料表」資料結構。在 pandas 中為 <class 'pandas.core.frame.DataFrame'>物件類別。資料框資料包含資料項、索引項、及屬性欄位。資料框如同資料表或Excel試算表結構，資料框是一種列、行型態的資料，每一列代表一筆資料，包含列索引值，每一行代表一種資料屬性，包含欄位名稱索引。資料框也可視為一種矩陣型式，可經由矩陣索引，如 [m, n]方式辨識資料。

DataFrame廣泛地用於資料科學、機器學習、及科學運算等應用。

In [1]:
#使用 DataFrame 前先導入 Pandas 套件
import pandas as pd

學生資料表

sid | name | address | pyscore
-------------|--------|----------|----------|
101 | 王大明 | Taipei | 66
102 | 李誠實 | Taoyoun | 90
103 | 林娟娟 | Taichung | 89
104 | 陳清源 | Taipei | 75
105 | 李曉明 | Kaohsiung | 65

In [15]:
#利用 dictionary 建立資料表
student = {
    'sid':['101','102','103','104','105'],
    'name':['王大明','李誠實','林娟娟', '陳清源','李曉明'],
    'address':['Taipei', 'Taoyoun', 'Taichung', 'Taipei', 'Kaohsiung'],
    'pyscore':[66,90,89,75,65]
}

In [16]:
df = pd.DataFrame(student)

In [17]:
df

   sid name    address  pyscore
0  101  王大明     Taipei       66
1  102  李誠實    Taoyoun       90
2  103  林娟娟   Taichung       89
3  104  陳清源     Taipei       75
4  105  李曉明  Kaohsiung       65

In [18]:
#顯示資料表前3項
df.head(3)

   sid name   address  pyscore
0  101  王大明    Taipei       66
1  102  李誠實   Taoyoun       90
2  103  林娟娟  Taichung       89

In [19]:
df.tail(2)

   sid name    address  pyscore
3  104  陳清源     Taipei       75
4  105  李曉明  Kaohsiung       65

In [20]:
df['address'] #df.address

0       Taipei
1      Taoyoun
2     Taichung
3       Taipei
4    Kaohsiung
Name: address, dtype: object

In [22]:
df.loc[2]

sid             103
name            林娟娟
address    Taichung
pyscore          89
Name: 2, dtype: object

In [23]:
df.iloc[2]

sid             103
name            林娟娟
address    Taichung
pyscore          89
Name: 2, dtype: object