### Jupyter Notebook/ Colab Notebooks

- Jupyter Notebook 提供網頁式程式編輯與執行環境
- Colab Notebook 由 Google 伺服器提供如Jupyter 的程式編輯與執行環境

## Python

Pyhton程式語言是一種高階程式語言，適合各種應用程式的開發。Python可以開發程序式應用程式，也提供開發物件導向式程式設計(Object Oriented Programming)。近年成為最熱門的程式語言之一，可以用於各種不同的應用領域，如科學計算、機器學習、資料庫應用介面、網頁後端程式控制、...等。

### 基本資料型別

- 數值: int, real, complex
- 字串: string
- 布林: bool (True/False)
- none

#### Numerical 數值

In [ ]:
# int
# type(x)return type of x
x = 123
print(x, type(x))

123 <class 'int'>

In [ ]:
# simple arithmetics
print(x+1)
print(x-1)
print(x*2)
print(x**2)
x += 1 # no x++/x-- in Python
print(x)
x *= 2
print(x)

124
122
246
15129
124
248

In [ ]:
# real
y = 3.14
print(y, type(y))
print(y, y+1, y*2, y**2)

3.14 <class 'float'>
3.14 4.140000000000001 6.28 9.8596

#### Booleans 布林

In [ ]:
t = True
f = False
print(type(t))
print(t and f)
print(t or f)
print(not t)
print(t != f)

<class 'bool'>
False
True
False
True

#### String

In [ ]:
hello = 'hello'
world = "world"
print(hello, len(hello))
print(world, len(world))
hw = hello + ' ' + world
print(hw)
hw2 = "%s %s %d" % (hello, world, len(hello))
print(hw2)

hello 5
world 5
hello world
hello world 5

In [ ]:
str = 'hello'
print(str.capitalize())
print(str.upper())
print(str.rjust(7))
print(str.center(7))
print(str.replace('l', '(ell)'))
print('   world '.strip())

Hello
HELLO
  hello
 hello
he(ell)(ell)o
world

### Contrainer 資料結構

#### List

In [ ]:
ll = [3, 1, 2]   #建立串列
print(ll, ll[2]) #ll[2]=串列的第三個元素
print(ll[-1])    #ll[-1]=串列的最後元素
ll[2] = 'foo'    #設定ll[2]的內容為'foo'字串
print(ll)
ll.append('bar') #在ll最後新增一個元素，內容設定為'bar'字串
print(ll)
print(ll.pop())  #刪除串列最後元素並回傳
print(ll)

[3, 1, 2] 2
2
[3, 1, 'foo']
[3, 1, 'foo', 'bar']
bar
[3, 1, 'foo']

In [ ]:
# slicing
nums = list(range(5)) #建立一個0~4的串列，range()為一個內建函數
print(nums)
print(nums[2:4])   #擷取串列位置2-3內容
print(nums[2:])    #擷取串列位置2-最後內容
print(nums[:2])    #擷取串列位置0-1內容
print(nums[:])     #擷取串所有內容
print(nums[:-1])   #擷取串列位置0-最後內容
nums[2:4] = [8, 9] #將串列2-3位置設定為[8,9]
print(nums)

[0, 1, 2, 3, 4]
[2, 3]
[2, 3, 4]
[0, 1]
[0, 1, 2, 3, 4]
[0, 1, 2, 3]
[0, 1, 8, 9, 4]

In [ ]:
#loops
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)
#如何將結果印在一列？

cat
dog
monkey

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
print(squares)

[0, 1, 4, 9, 16]

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
print(even_squares)

[0, 4, 16]

#### Dictionaries

dictionary為一種 key:value 的 mapping(映射) 資料結構

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}        #建立字典資料key:value
print(d['cat'])                     #由key查詢value
print('cat' in d)                   #檢查'cat'是否在字典中的key中
d['fish'] = 'wet'                   #新增'fish'的對應為'wet'
print(d['fish'])
print(d.get('monkey', 'N/A'))             #檢查'monkey'，若無則顯示'N/A'
print(d.get('fish', 'N/A'))
del d['fish']                     #刪除key為'fish'的資料
print(d.get('fish', 'N/A'))

cute
True
wet
N/A
wet
N/A

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}            #建立字典
for animal in d:                          #animal為key
    legs = d[animal]                      #d[animal]對應值value
    print('A %s has %d legs' % (animal, legs))       #animal=key, legs=values

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():     #d.items()方法回傳 key, values
    print('A %s has %d legs' % (animal, legs))

A person has 2 legs
A cat has 4 legs
A spider has 8 legs

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums}
print(even_num_to_square)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
print(even_num_to_square)

{0: 0, 2: 4, 4: 16}

#### Sets 集合

In [ ]:
animals = {'cat', 'dog'}  #建立集合，{...}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')      #集合新增元素
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))

True
False
True
3
3

In [ ]:
animals= {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))

#1: fish
#2: cat
#3: dog

#### Tuple

Tuple與List類似，但與list最大不同，tuple的內容不能更改(immutable)

In [1]:
#建立一個以tuple為key的dictionary
d = {(x, x+1): x for x in range(10)}
print(type(d))
print(d)

<class 'dict'>
{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}

In [3]:
#'tuple' object does not support item assignment
t = (5,6)
t[1] = 10

TypeError: 'tuple' object does not support item assignment

### 函式
- 內建函式
- 自訂函式

#### 內建函式

In [4]:
# 顯示資料型別 type()

In [7]:
x = 123
print(type(x))
y = 12.3
print(type(y))
z = "hello"
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [8]:
# 顯示資料容器長度 len()
a = [1, 12.3, 'hello']
print(len(a))

3

In [10]:
# 型別轉換 int(), float(), str()
x = 123
print(type(x))
x = str(x)
print(type(x))
x = float(x)
print(type(x))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
# print() adn input() 函式

print(123) #print() 輸出'123'

print("pi is %7.2f" % (3.14159)) #格式化輸出

123
pi is    3.14

In [17]:
# input() 函式允許使用者由鍵盤輸入資料

x = input('how old are you? ') #input() return sting
x = int(x) #transform to int
print("my age is %d." % x)

how old are you? 100
my age is 100.

#### 自訂函數

In [20]:
# functions without parameters like subroutines

def hello():
  print('How are you today!')

for i in range(3):
  hello()

How are you today!
How are you today!
How are you today!

In [21]:
# functions with parameters

def hello(num):
  for i in range(num):
    print('Hello!')

hello(5)

Hello!
Hello!
Hello!
Hello!
Hello!

In [23]:
# functions with parameter and output

def abs(no):
  if no >= 0:
    return no
  else:
    return -no

print(abs(12))
print(abs(-10))

12
10

In [34]:
def CtoF(c=0):
  f = c*9/5+32
  return f

t = input('temperature: ')
t = float(t)

print("%.1f (C) => %.1f (F)" % (t, CtoF(t)))

temperature: 20
20.0 (C) => 68.0 (F)

In [35]:
# default value setup for CtoF(c=0)
print(CtoF())

32.0